<h4 style="text-align: center;margin:20px" *ngIf="eventsByTitle[0]">Cliquez sur l'evenement pour validez votre choix</h4>
<h5 style="text-align: center;margin:20px" *ngIf="eventsByTitle[0]">Un email sera envoyé a votre instructeur qui prendra contact avec vous</h5>
<h5 style="text-align: center;margin:20px" *ngIf="!eventsByTitle[0]">Aucun evenement pour cette formation n'a été créé pour le moment</h5>
<div class="row justify-content-center">
  <div class="d-flex align-items-center " style="width: 18rem; margin:10px; height:72vh;" *ngFor= "let event of eventsByTitle">
    <div class="mail" style="background-color:lavender; border:black solid 1px;border-radius: 10px;">
      <a  routerLink="#" (click)="envoisMail(event)"  style=" text-decoration:none;color:black;">
        <div style="text-align: center; margin:10px;">
          <h5>Début de la formation le:
            <p>{{event.start | date: 'medium'}}</p> 
          </h5>
          <h4 >{{event.title}}</h4>
          <p>Lieu: {{event.location}}</p>
          <p>Tarif: {{event.prix}}€</p>
          <p>Crée par: {{event.instructor}}</p>    
        </div> 
      </a>
    </div>
  </div>
</div>