<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary" >
    <a class="navbar-brand" routerLink=""><i class="fas fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active" *ngIf="!username">
          <a class="nav-link" routerLink="app-login">Se connecter <span class="sr-only">(current)</span></a>
        </li> -->
       
        <li class="nav-item active">
          <a class="nav-link" routerLink="app-formation">Formations <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="app-site-plongee">Sites de plongée <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="app-agenda">Agenda <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="user.name" [routerLink]="['app-carnet',user.userId]">Carnet de plongée <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      
      <button class="my-lg-0 bg-light" *ngIf="user.name && !user.isAdmin" style="margin-right:20px; padding:7px; border-radius:25px; color:blue"  [routerLink]="['app-profile',user.userId]">
          {{user.surname}}
      </button>
      <button class="my-lg-0 bg-light" *ngIf="user.name && user.isAdmin" style="margin-right:20px; padding:7px; border-radius:25px; color:blue; border-color:springgreen "  [routerLink]="['app-profile',user.userId]">
        {{user.surname}}
    </button>
      <button  *ngIf="user.email==='benjamin@gmail.com'" class="btn btn bg-primary" style="margin-right:20px;color:whitesmoke"  routerLink='app-all-users'>Utilisateurs</button>
      <button  *ngIf="!user.name" class="btn btn bg-primary" style="margin-right:20px;color:whitesmoke"  routerLink="app-login">Connexion</button>
      <button  *ngIf="user.name" class="btn btn bg-primary" style="margin-right:20px;color:whitesmoke" (click)="LogOut()" routerLink="app-login">Deconnexion</button>
      <button type="button" mdbBtn size="lg" color="color:cornsilk;padding-top:7px" class="btn btn-primary" mdbWavesEffect (click)=goFb() >
        <i class="fab fa-facebook-f left">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16"></svg>
        </i> 
      </button> 
      <a [href]="'http://localhost:3000/download/CV_Benjamin.pdf'" target="_blank" class="btn btn-primary" >Créé par Benjamin !</a>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
