<h4  style="text-align: center;margin:20px">Cliquez sur l'evenement pour validez votre choix</h4>
<h5 style="text-align: center;margin:20px">Un email sera envoyez a votre instructeur qui prendra contact avec vous</h5>
<div class="row justify-content-center">
    <div class="d-flex align-items-center " style="width: 18rem; margin:10px; height:80vh;" *ngFor= "let event of eventsBySpeciality">
      <div style="background-color:lavender;border:black solid 1px;border-radius: 10px; ">
        <a [routerLink]=""  style=" text-decoration:none;color:black;">
          <div style="text-align: center; margin:10px;">
            <h4>
              <p>Date de debut:</p>
              <p>{{event.start| date:'short'}}</p> 
            </h4>
            <h5 >{{event.speciality}}</h5>
            <p>site: {{event.location}}</p>
            <p>instructeur: {{event.instructor}}</p>    
          </div> 
        </a>
      </div>
    </div>
  </div>
