<div class="row justify-content-md-center" style="height:90vh;">
    <div class='col col-lg-6' style="padding:100px;">
      <div class="d-flex justify-content-center" >
          <h4>Faites un nouveau mot de passe</h4>
      </div>
      <form [formGroup] ="myFormNewPassword" (ngSubmit)="onSubmit()" >
        <div class="form-row">
          <div class="form-group col-md-12 ">
            <label for="login">Votre login (email)</label>
            <input type="text" class="form-control" formControlName="login" placeholder="Votre login (email)" id="login" [(ngModel)]="myFormNewPassword.login" >
          </div>
          <div class="form-group col-md-12 ">
            <label for="password">Votre  nouveau mot de passe (min 4 caractères)</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Votre mot de passe" id="password">
          </div>
        </div>  
        <div class="d-flex justify-content-center" style="margin:10px;">
          <button type="submit" [disabled]="myFormNewPassword.invalid" class="btn btn-primary" >Validez</button>
        </div>
      </form>
     
    </div>
  </div> 
