<div style="padding-top:15px;">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Précédant
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Aujourd'hui
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Suivant
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Mois
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Semaine
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Jour
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>

  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

  <br /><br /><br />
<div *ngIf="user && user.isAdmin">
  <h3 style="text-align: center;">
    Editer
    <button class="btn btn-primary float-left" (click)="addEvent()">
    Ajouter
    </button>
  </h3>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead  >
        <tr style="text-align: center;">
          <th>Nom de l'évenement</th>
          <th>Lieu</th>
          <th>Tarif</th>
          <th>Commence le</th>
          <th>Finis le</th>
          <th>Créer</th>
          <th>Modifier</th>
          <th>Effacer</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let event of events">
          <td  *ngIf="user && event.userId == user.userId">
            <select  type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()">
                <optgroup label="Donnée actuelle">
                  <option selected>{{event.title}}</option>
                </optgroup>
                <optgroup label="Exploration">
                  <option value="Discover Local Diving">Discover Local Diving</option>
                </optgroup>
                <optgroup label="Les formations">
                  <option *ngFor="let formation of formations" value={{formation.nom}}>{{formation.nom}}</option>
                </optgroup>
                <optgroup label="Les spécialités">
                  <option *ngFor="let speciality of specialitys" value={{speciality.nom}}>{{speciality.nom}}</option>
                </optgroup>
            </select>
          </td>
          <td *ngIf="event.userId == user.userId">
            <select
              type="text"
              class="form-control"
              [(ngModel)]="event.location"
              (keyup)="refresh.next()">
              <optgroup label="Donnée actuelle">
                <option selected>{{event.location}}</option>
              </optgroup>
              <optgroup label="Les sites de plongée">
                <option *ngFor="let site of sites" value={{site.nom}}>{{site.nom}}</option>
              </optgroup>
            </select>
          </td>
          <td  *ngIf="user && event.userId == user.userId">
            <input 
            type="number"
            class="form-control"
            style="text-align: center;"
            [(ngModel)]="event.prix"
            (keyup)="refresh.next()"
          />
          </td>
          <td *ngIf="event.userId == user.userId">
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.start"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              [options]="datePickerOptionsStart"
              placeholder="Not set"
            /> 
          </td>
          <td *ngIf="event.userId == user.userId">
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.end"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              [options]="datePickerOptionsEnd"
              placeholder="Not set"
            />
          </td>
          <td *ngIf="event.userId == user.userId">
            <button class="btn btn-primary float-right" (click)="createEvent(event)">
              Créer
            </button>
          </td>
          <td *ngIf="event.userId == user.userId && event.id">
            <button class="btn btn-primary" (click)="updateEvent(event)">
              Modifier
            </button>
          </td>
          <td *ngIf="event.userId == user.userId && event.id">
            <button class="btn btn-danger" (click)="deleteEvent(event)">
              Effacer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Informations de l'evenement</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Créé par:
        <pre>{{ modalData.event?.instructor}}</pre>
      </div>
      <div>
        Nom de l'evenement :
        <pre>{{ modalData.event?.title}}</pre>
      </div>
      <div>
        Lieu:
        <pre>{{ modalData.event?.location}}</pre>
      </div>
      <div>
        Tarif:
        <pre>{{ modalData.event?.prix}}€</pre>
      </div>
      <div>
        Commence le:
        <pre>{{ modalData.event?.start|date: 'medium'}} </pre>
      </div>
      <div>
        Finis le:
        <pre>{{ modalData.event?.end|date: 'medium'}} </pre>
      </div>
      <div *ngIf="!vueParticipant">
        Participants:<span *ngIf="!participants[0]"> Aucuns participants</span>
        <pre  *ngFor="let participant of participants">nom:{{participant.nom}} prénom:{{participant.prenom}} email:{{participant.email}}</pre>
      </div>
    </div>
    
    <div class="modal-footer" *ngIf="user  ">
      <button type="button" class="btn btn-outline-secondary" (click)="participe(modalData.event?.id,user.userId);close()">
        Je participe 
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="participePas(modalData.event?.id,user.userId);close()">
        Ne plus participer 
      </button>
      <button type="button" class="btn btn-outline-secondary" *ngIf="vueParticipant" (click)="voirParticipant(modalData.event?.id,user.userId)">
        Voir les Participants
      </button>
      <button type="button" class="btn btn-outline-secondary" *ngIf="!vueParticipant" (click)="voirParticipant(modalData.event?.id,user.userId)">
        Masquer les Participants
      </button>
    </div>
      <div class="modal-footer" *ngIf="!user ">
      <button type="button" class="btn btn-outline-secondary" routerLink="app-login" (click)="close()">
        Vous devez etre connecté pour participer 
      </button>
      <!--<button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>-->
    </div>
  </ng-template>
</div>
