<div class="d-flex justify-content-center" style="margin:10px;">
  <h4>Formulaire d'inscription</h4>
</div>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="createNomUtilsateur">Nom</label>
            <input type="text" class="form-control" name="createNomUtilsateur" placeholder="Votre nom">
        </div>
        <div class="form-group col-md-6">
            <label for="createPrenomUtilsateur">Prénom</label>
            <input type="text" class="form-control" name="createPrenomUtilsateur" placeholder="Votre prénom">
        </div>
        <div class="form-group col-md-6">
            <label for="createEmailUtilsateur">Email</label>
            <input type="email" class="form-control" name="createEmailUtilsateur" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
            <label for="createPasswordlUtilsateur">Mot de passe</label>
            <input type="password" class="form-control" name="createPasswordlUtilsateur" placeholder="Crée un mot de passe">
        </div>
    </div>
    <div class="form-group">
        <label for="createAdresselUtilsateur">Addresse</label>
        <input type="text" class="form-control" name="createAdresselUtilsateur" placeholder="Votre adresse ">
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="createVillelUtilsateur">Ville</label>
            <input type="text" class="form-control" name="createVillelUtilsateur" placeholder="Votre ville" >
        </div>
        <div class="form-group col-md-4">
          <label for="createPaysUtilsateur">Pays</label>
          <input type="text" class="form-control" name="createPayslUtilsateur" placeholder="Votre ville" >
        </div>
        <div class="form-group col-md-4">
            <label for="createCodePostalUtilsateur">Code postal</label>
            <input type="number" class="form-control" name="createCodePostalUtilsateur" placeholder="Votre code postal" >
        </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
          <label for="createDateDeNaissanceUtilsateur">Date de naissance</label>
          <input type="date" class="form-control" name="createDateDeNaissanceUtilsateur" placeholder="Votre date de naissance">
      </div>
      <div class="form-group col-md-6">
          <label for="createLieuDeNaissanceUtilsateur">Lieu de naissance</label>
          <input type="text" class="form-control" name="createLieuDeNaissanceUtilsateur" placeholder="Votre lieu de naissance">
      </div>
      <div class="form-group col-md-6">
          <label for="createNumeroPadiUtilsateur">Numero Padi</label>
          <input type="number" class="form-control" name="createNumeroPadiUtilsateur" placeholder="Votre numero padi">
      </div>
      <div class="form-group col-md-4">
          <label for="createNiveauActuelUtilsateur">Niveau actuel</label>
          <select name="createNiveauActuelUtilsateur" class="form-control">
            <option selected>Choix...</option>
            <option  value="openWaterDiver">Open Water Diver</option>
            <option  value="advancedOpenWaterDiver">Advanced Open Water Diver</option>
            <option  value="advancedOpenWaterDiverDeep">Advanced Open Water Diver Deep</option>
            <option  value="rescueDiver">Rescue Diver</option>
            <option  value="rescueDiver">Divemaster</option>
            <option  value="assistantInstructeur">Assistant Instructeur</option>
            <option  value="instructeur">Instructeur</option>
            <option  value="courseDirecteur">Course directeur</option>
          </select>
      </div>
    
      <div class="form-group col-md-6">
          <label for="createNomAssurancelUtilsateur">Nom de l'assurance</label>
          <input type="text" class="form-control" name="createNomAssurancelUtilsateur" placeholder="Nom de votre assureur">
      </div>
      <div class="form-group col-md-6">
          <label for="createNumeroAssurancelUtilsateur">Numero de votre assurance</label>
          <input type="number" class="form-control" name="createNumeroAssurancelUtilsateur" placeholder="Votre nuemro d'assurance">
      </div>
    </div>

<div class="d-flex justify-content-center" style="margin:10px;">
    <button type="submit" class="btn btn-primary">Enregistrez-vous</button>
</div>
        
  
    
</form>
