<div class="container">
    <br>
    <div class="d-flex justify-content-center" >
    <h4>Formulaire d'inscription</h4>
    </div>
    <form [formGroup] ="myForm" (ngSubmit)="onSubmit()">
        <span></span>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="createNomUtilsateur">Nom</label>
                <input type="text" class="form-control" formControlName="createNomUtilsateur" placeholder="Votre nom">
            </div>
            
            <div class="form-group col-md-6">
                <label for="createPrenomUtilsateur">Prénom</label>
                <input type="text" class="form-control" formControlName="createPrenomUtilsateur" placeholder="Votre prénom">
            </div>
            <div class="form-group col-md-6">
                <label for="createEmailUtilsateur">Email</label>
                <input type="email" class="form-control" formControlName="createEmailUtilsateur" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="createPasswordlUtilsateur">Créez votre mot de passe</label>
                <input type="password" class="form-control" formControlName="createPasswordlUtilsateur" placeholder="Crée un mot de passe">
            </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-10">
            <label for="createRuelUtilsateur">Rue</label>
            <input type="text" class="form-control" formControlName="createRuelUtilsateur" placeholder="Votre rue ">
        </div>
        <div class="form-group col-md-2">
            <label for="createNumerolUtilsateur">Numero</label>
            <input type="number" class="form-control" formControlName="createNumerolUtilsateur" placeholder="Votre numero ">
        </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="createVillelUtilsateur">Ville</label>
                <input type="text" class="form-control" formControlName="createVillelUtilsateur" placeholder="Votre ville" >
            </div>
            <div class="form-group col-md-4">
            <label for="createPaysUtilsateur">Pays</label>
            <input type="text" class="form-control" formControlName="createPayslUtilsateur" placeholder="Votre ville" >
            </div>
            <div class="form-group col-md-4">
                <label for="createCodePostalUtilsateur">Code postal</label>
                <input type="number" class="form-control" formControlName="createCodePostalUtilsateur" placeholder="Votre code postal" >
            </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="createDateDeNaissanceUtilsateur">Date de naissance</label>
            <input type="date" class="form-control" formControlName="createDateDeNaissanceUtilsateur" placeholder="Votre date de naissance">
        </div>
        <div class="form-group col-md-6">
            <label for="createLieuDeNaissanceUtilsateur">Lieu de naissance</label>
            <input type="text" class="form-control" formControlName="createLieuDeNaissanceUtilsateur" placeholder="Votre lieu de naissance">
        </div>
        <div class="form-group col-md-6">
            <label for="createNumeroPadiUtilsateur">Numero Padi</label>
            <input type="number" class="form-control" formControlName="createNumeroPadiUtilsateur" placeholder="Votre numero padi">
        </div>
        <div class="form-group col-md-6">
            <label for="createNiveauActuelUtilsateur">Niveau actuel</label>
            <select formControlName="createNiveauActuelUtilsateur" class="form-control">
                <option selected>Choix...</option>
                <option  value="Aucun">Aucun</option>
                <option  value="Open WaterDiver">Open Water Diver</option>
                <option  value="Advanced Open WaterDiver">Advanced Open Water Diver</option>
                <option  value="Advanced OpenWater Dive Deep">Advanced Open Water Diver Deep</option>
                <option  value="Rescue Diver">Rescue Diver</option>
                <option  value="Divemaster">Divemaster</option>
                <option  value="Assistant Instructeur">Assistant Instructeur</option>
                <option  value="Instructeur">Instructeur</option>
                <option  value="Course Directeur">Course directeur</option>
            </select>
        </div>
        
        <div class="form-group col-md-6">
            <label for="createNomAssurancelUtilsateur">Nom de l'assurance</label>
            <input type="text" class="form-control" formControlName="createNomAssurancelUtilsateur" placeholder="Nom de votre assureur">
        </div>
        <div class="form-group col-md-6">
            <label for="createNumeroAssurancelUtilsateur">Numero de votre assurance</label>
            <input type="number" class="form-control" formControlName="createNumeroAssurancelUtilsateur" placeholder="Votre nuemro d'assurance">
        </div>
        </div>

        <div class="d-flex justify-content-center" >
            <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Enregistrez-vous</button>
        </div> 
        <br> 
    </form>
</div>