<h2 style="text-align: center;">Votre profile </h2>
<div  class="row justify-content-center">
  <div class="d-flex align-items-center " style="width: 18rem; margin:10px;">
    <div style="background-color:lavender; padding:20px">
        <div style="text-align: center; margin:10px;">
          <h5 >{{oneProfile[0].prenom}}</h5>
          <h5 >{{oneProfile[0].nom}}</h5>
            
            <p>{{oneProfile[0].email}} </p>  
            <p>Né le: {{oneProfile[0].date_de_naissance | date }}  à {{oneProfile[0].lieu_de_naissance}}  </p>   
            
            <h6>adresse :</h6>
            <p>{{oneProfile[0].rue}} N°{{oneProfile[0].numero}} à {{oneProfile[0].code_postal}}, {{oneProfile[0].ville}} </p>
            <p>{{oneProfile[0].pays}} </p>  
            <p>Niveau: {{oneProfile[0].niveau}} </p>   
            <p>N° PADI: {{oneProfile[0].numero_padi}}</p>
            <p>Assurance: {{oneProfile[0].nom_assurance}}</p>
            <p>N° d'assurance: {{oneProfile[0].numero_assurance}}</p>
        </div> 
      
      <div class="d-flex justify-content-around" style="padding:10px">
        <button type="submit" [routerLink]="['app-form-modification',oneProfile[0].id]" class="btn btn-primary">Modifiez</button>
        <button class="btn btn-danger" (click)="deleteProfile(oneProfile[0].id)" routerLink ="../../app-foramtion"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
        </svg></button>
      </div>
    </div>
  </div>
</div>